XML/eGDN/eGDN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="graphml" type="Graphml"/>
	<xs:complexType name="Graphml">
		<xs:sequence>
			<xs:element name="graph" type="Graph" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Graph">
		<xs:sequence>
			<xs:element name="key" type="Key" minOccurs="0" maxOccurs="unbounded"/>
			
			<xs:element name="node" type="Node" minOccurs="0" maxOccurs="unbounded"/> 		
			<xs:element name="edge" type="Edge" minOccurs="0" maxOccurs="unbounded"/> 		</xs:sequence>
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="edgedefault" type="xs:string" />
		
	</xs:complexType>
	<xs:complexType name="Key">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="for" type="xs:string"/>
		<xs:attribute name="attr.name" type="xs:string" />
		<xs:attribute name="attr.type" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Node">		
		<xs:sequence>
			<xs:element name="data" type="Data" minOccurs="0" maxOccurs="unbounded"/>		
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="Edge">
		<xs:sequence>
			<xs:element name="data" type="Data" minOccurs="0" maxOccurs="unbounded"/>			
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="source" type="xs:string"/>
		<xs:attribute name="target" type="xs:string" />
		
	</xs:complexType>
	<xs:complexType name="Data">
		<xs:attribute name="key" type="xs:string"/>
		<xs:attribute name="sourceFileName" type="xs:string"/>
	</xs:complexType>
	
	
</xs:schema>
