XML/eCFG/proba1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_data">
					<xs:attribute name="key" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="name"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="edge">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="e29"/>
						<xs:enumeration value="e30"/>
						<xs:enumeration value="e31"/>
						<xs:enumeration value="e32"/>
						<xs:enumeration value="e33"/>
						<xs:enumeration value="e34"/>
						<xs:enumeration value="e35"/>
						<xs:enumeration value="e36"/>
						<xs:enumeration value="e37"/>
						<xs:enumeration value="e38"/>
						<xs:enumeration value="e39"/>
						<xs:enumeration value="e40"/>
						<xs:enumeration value="e41"/>
						<xs:enumeration value="e42"/>
						<xs:enumeration value="e43"/>
						<xs:enumeration value="e45"/>
						<xs:enumeration value="e46"/>
						<xs:enumeration value="e47"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="n17"/>
						<xs:enumeration value="n18"/>
						<xs:enumeration value="n19"/>
						<xs:enumeration value="n20"/>
						<xs:enumeration value="n21"/>
						<xs:enumeration value="n22"/>
						<xs:enumeration value="n23"/>
						<xs:enumeration value="n24"/>
						<xs:enumeration value="n25"/>
						<xs:enumeration value="n26"/>
						<xs:enumeration value="n27"/>
						<xs:enumeration value="n28"/>
						<xs:enumeration value="n29"/>
						<xs:enumeration value="n30"/>
						<xs:enumeration value="nFuncDecl_6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="target" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="n17"/>
						<xs:enumeration value="n18"/>
						<xs:enumeration value="n19"/>
						<xs:enumeration value="n20"/>
						<xs:enumeration value="n21"/>
						<xs:enumeration value="n22"/>
						<xs:enumeration value="n23"/>
						<xs:enumeration value="n24"/>
						<xs:enumeration value="n25"/>
						<xs:enumeration value="n26"/>
						<xs:enumeration value="n27"/>
						<xs:enumeration value="n28"/>
						<xs:enumeration value="n29"/>
						<xs:enumeration value="n30"/>
						<xs:enumeration value="nFuncEND_6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="data"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="n17"/>
						<xs:enumeration value="n18"/>
						<xs:enumeration value="n19"/>
						<xs:enumeration value="n20"/>
						<xs:enumeration value="n21"/>
						<xs:enumeration value="n22"/>
						<xs:enumeration value="n23"/>
						<xs:enumeration value="n24"/>
						<xs:enumeration value="n25"/>
						<xs:enumeration value="n26"/>
						<xs:enumeration value="n27"/>
						<xs:enumeration value="n28"/>
						<xs:enumeration value="n29"/>
						<xs:enumeration value="n30"/>
						<xs:enumeration value="nFuncDecl_6"/>
						<xs:enumeration value="nFuncEND_6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_data">
		<xs:restriction base="xs:string">
			<xs:enumeration value="+="/>
			<xs:enumeration value="="/>
			<xs:enumeration value="BEGIN_BubbleSort"/>
			<xs:enumeration value="BRANCH_STATEMENT"/>
			<xs:enumeration value="END_BubbleSort"/>
			<xs:enumeration value="JUMP_STATEMENT"/>
			<xs:enumeration value="LOOP_STATEMENT"/>
			<xs:enumeration value="NAME"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
