XML/eCFG/proba.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 sp2 (http://www.altova.com) -->
<xs:schema targetNamespace="http://graphml.graphdrawing.org/xmlns/graphml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="proba1.xsd"/>
	<xs:element name="key">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="name"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="for" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="node"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="attr.name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="name"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="attr.type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="graph">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="node" maxOccurs="unbounded"/>
				<xs:element ref="edge" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="edgedefault" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="directed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="G"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="graphml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="key"/>
				<xs:element ref="graph"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
